* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #68C;
	overflow-x: hidden;
}

ul, li {
	list-style: none;
}

#header {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
	height: 10%;
	background-color: rgba( 255, 255, 255, .5 );
}

#header > #title {
	margin-left: 1%;
}

#aside {
	width: 15%;
	height: 90%;
	background-color: rgba( 200, 200, 200, .5 );
}

#database {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

#database #create {
	display: block;
	width: 100%;
	height: 40px;
	background-color: rgba( 102, 153, 205, .75 );
	font: bold 20px "Consolas";
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	color: #FFF;
	transition: all .1s linear 0s;
}

#database #create:hover {
	background-color: rgba( 75, 230, 75, 1 );
}

#database #delete {
	display: block;
	width: 100%;
	height: 40px;
	background-color: rgba( 102, 153, 205, .75 );
	font: bold 20px "Consolas";
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	color: #FFF;
	transition: all .1s linear 0s;
}

#database #delete:hover {
	background-color: rgba( 230, 75, 75, 1 );
}

.database {
	width: 100%;
	height: 40px;
	background-color: rgba( 102, 153, 205, .75 );
	font: bold 20px "Consolas";
	text-align: center;
	line-height: 40px;
	color: #FFF;
	transition: all .1s linear 0s;
	cursor: pointer;
}

.database:hover {
	background-color: rgba( 255, 255, 255, 1 );
	color: #69C;
}

#main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 85%;
	height: 90%;
	position: absolute;
	right: 0;
	top: 10%;
}

#main > #message {
	font: bold 25px "幼圆";
	color: #FFF;
}