* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #68C;
	overflow-x: hidden;
}

#header {
	display: flex;
	width: 100%;
	height: 20%;
	justify-content: left;
	align-items: center;
	margin-left: 10%;
}

#header > #title {
	border-radius: 100%;
	border: 5px solid #69C;
}

#header > #logo {
	margin-left: 10px;
}

#main {
	width: 100%;
	height: 60%;
	position: absolute;
	background-color: rgba( 255, 255, 255, .2 );
}

#main > h1 {
	margin-left: 10%;
	margin-top: 7%;
	color: #FFF;
	font: bold 30px "幼圆";
}

#main > button {
	display: block;
	width: 200px;
	height: 80px;
	margin-left: 10%;
	margin-top: 2%;
	background-color: transparent;
	color: #FFF;
	font: bold 50px "幼圆";
	border: 2px solid #FFF;
	border-radius: 2px;
	transition: all .1s linear 0s;
	cursor: pointer;
}

#main > button:hover {
	border: 0;
	background-color: #FFF;
	color: #68C;
}

#main > img {
	position: absolute;
	right: 5%;
	top: 50%;
	border-radius: 10px;
	box-shadow: 0 0 10px #000;
	transform: translate( 0, -50% );
	transition: all .2s linear 0s;
}

#main > img:hover{
	box-shadow: 0 0 30px #000;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}