@font-face {
	font-family: "幼圆";
	src: url("./../font/youyuan.ttf");
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #242424;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
}

a {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	color: #FFF;
	font: bold 20px Consolas;
	text-decoration: none;
	transition: all .1s linear 0s;
}

a:hover {
	color: #68C;
}